@media screen and (max-width:530px){
    p{
     font-size:0.8em;
    
     }
     h2{
     font-size: 1.3em;
    }
    h3{
     font-size: 1.5em;

    }
   h1{
    font-size: 2em;
   
     }
   h4{
    font-size: 1.2em;
   }
   
   h5{
    font-size: 1.125em;
   
    }   
    h6{
     font-size: 1em;
   
    }

    span{
     font-size: 0.7em;
   
   }
    .navbar-container{
        display:none;
    }
    .main-container{
    padding-left: 40px;
    padding-bottom: 25px;
    max-width: 530px;
    margin:auto ;
    }
    .hero-container{
    height: 50vh;
    }
    .subtitle{
        line-height: 10px;
        gap: 10px;
    }
    .line{
      width:14px ;
      height: 2px;
      margin-top: 5px;
    }
    .main-button{
        font-size: 8px;
        padding: 12px 30px;
        border-radius: 6px;
    }
    .about-content {
         padding-top: 40px;
         padding-left: 40px;
         padding-bottom: 30px;
         padding-right: 20px;
         width:200px; 
    }
   .secondary-button{
    width:100px;
    padding:10px;
    font-size: 0.7em;
    border-radius: 7px;
    margin-top: 30px;
   }
   .watch-image-1,
   .watch-image-2,
   .watch-image-3,
   .watch-image-4{
    max-width: 200px;
    color: white;
    padding:20px;
    height: 280px; 
   }
    .about-icon-container {
        padding-left: 50px;
        padding-right: 50px;
    }
    .sermons-section{
        display:none;
    }
    .footer-container{
        display:block;
    }
    .visit {
    padding: 12px 32px;
    border-radius: 6px;
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 0.8em;
    }
     .hero-container-about{
    height: 40lvh;
    max-width: 530px;   
}
   .serving-container{
    padding: 50px;
   }
   .love-about-container {
    padding-left: 30px;
    padding-right: 30px;
   }
   .watch-container-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
    
   }
   .watch-text-container {
    margin-top: 70px;
   }
    .watch-container-about img{
        width:100%;
    }
   .watch-about {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 30px;
    margin-top: 0px;
   }
.watch-about-1 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 30px;
    margin-top: 0px;
   }

}


@media screen and (max-width:1000px){
    .navbar-container{
        display:none;
    }

}